// Copyright © Microsoft Corporation 2015

#include "AppleTests.Debug.xcconfig"
#include "MacTests.Debug.xcconfig"
#include "ClientTests.Mac.Debug.xcconfig"
#include "ClientBetaTests.Mac.Common.xcconfig"

//MARK: Apple LLVM 7.0 - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(APPLETESTS_DEBUG_GCC_PREPROCESSOR_DEFINITIONS) $(CLIENTBETATESTS_MAC_COMMON_GCC_PREPROCESSOR_DEFINITIONS)

//MARK: Search Paths
HEADER_SEARCH_PATHS = $(inherited) $(CLIENTTESTS_MAC_COMMON_HEADER_SEARCH_PATHS)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(CLIENTTESTS_MAC_COMMON_FRAMEWORK_SEARCH_PATHS) $(CLIENTBETATESTS_MAC_COMMON_FRAMEWORK_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(inherited) $(CLIENTTESTS_MAC_COMMON_LIBRARY_SEARCH_PATHS)

//MARK: Swift Compiler - Custom Flags
OTHER_SWIFT_FLAGS = $(inherited) $(APPLETESTS_DEBUG_OTHER_SWIFT_FLAGS) $(CLIENTBETATESTS_MAC_COMMON_OTHER_SWIFT_FLAGS)
